
.color-picker-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}
.color-picker-display{
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px double hsla(0, 5%, 68%, 0.856);
    margin-bottom: 20px;
}

.color-picker-display p, label{
    font-size: 25px;
    font-weight: bold;
}

input[type="color"]{
    height: 50px;
    width: 100px;
    border-radius: 5px;
    margin-top: 10px;
}
